html, body {
    background-color: hsl(207, 26%, 17%);
    /* height: 100%; */
    /* overflow: hidden;     */
}
.App{
    height: 100vw;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }
  .sidebar{
      height: 700px;
  }
  .selected{
      color: white;
  }
  .colo{
      color: #5A698F;
     
  }